<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Video.js Resolution Switcher</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/node_modules/video.js/dist/video-js.css" rel="stylesheet">
  <link href="/node_modules/videojs-resolution-switcher/lib/videojs-resolution-switcher.css" rel="stylesheet">
  <style>

  </style>
</head>


<body>

<div id="topNav">
    <div class="wrapper">
        <strong class="more-info-label">更多内容 <a href="http://rubyonrails.org/">rubyonrails.org:</a> </strong>
        <span class="red-button more-info-button">
        更多内容
      </span>
        <ul class="more-info-links s-hidden">
            <li class="more-info"><a href="http://rubyonrails.org/">综览</a></li>
            <li class="more-info"><a href="http://rubyonrails.org/download">下载</a></li>
            <li class="more-info"><a href="http://rubyonrails.org/deploy">部署</a></li>
            <li class="more-info"><a href="https://github.com/rails/rails">源码</a></li>
            <li class="more-info"><a href="http://rubyonrails.org/screencasts">视频</a></li>
            <li class="more-info"><a href="http://rubyonrails.org/documentation">文件</a></li>
            <li class="more-info"><a href="http://rubyonrails.org/community">社群</a></li>
            <li class="more-info"><a href="http://weblog.rubyonrails.org/">Blog</a></li>
        </ul>
    </div>
</div>

<div id="subCol">
    <h3 class="chapter"><img src="images/chapters_icon.gif" alt="">Chapters</h3>
    <ol class="chapters">
        <li><a href="#action-view-%E6%98%AF%E4%BB%80%E4%B9%88%EF%BC%9F">Action View 是什么？</a></li>
        <li><a href="#%E5%9C%A8-rails-%E4%B8%AD%E4%BD%BF%E7%94%A8-action-view">在 Rails 中使用 Action View</a></li>
        <li>
            <a href="#%E6%A8%A1%E6%9D%BF%EF%BC%8C%E5%B1%80%E9%83%A8%E8%A7%86%E5%9B%BE%E5%92%8C%E5%B8%83%E5%B1%80">模板，局部视图和布局</a>

            <ul>
                <li><a href="#%E6%A8%A1%E6%9D%BF">模板</a></li>
                <li><a href="#%E5%B1%80%E9%83%A8%E8%A7%86%E5%9B%BE">局部视图</a></li>
                <li><a href="#%E5%B8%83%E5%B1%80">布局</a></li>
            </ul>
        </li>
        <li><a href="#%E5%B1%80%E9%83%A8%E5%B8%83%E5%B1%80">局部布局</a></li>
        <li><a href="#%E8%A7%86%E5%9B%BE%E8%B7%AF%E5%BE%84">视图路径</a></li>
        <li>
            <a href="#action-view-%E6%8F%90%E4%BE%9B%E7%9A%84%E5%B8%AE%E5%8A%A9%E6%96%B9%E6%B3%95%E7%AE%80%E4%BB%8B">Action View 提供的帮助方法简介</a>

            <ul>
                <li><a href="#recordtaghelper"><code>RecordTagHelper</code></a></li>
                <li><a href="#assettaghelper"><code>AssetTagHelper</code></a></li>
                <li><a href="#atomfeedhelper"><code>AtomFeedHelper</code></a></li>
                <li><a href="#benchmarkhelper"><code>BenchmarkHelper</code></a></li>
                <li><a href="#cachehelper"><code>CacheHelper</code></a></li>
                <li><a href="#capturehelper"><code>CaptureHelper</code></a></li>
                <li><a href="#datehelper"><code>DateHelper</code></a></li>
                <li><a href="#debughelper"><code>DebugHelper</code></a></li>
                <li><a href="#formhelper"><code>FormHelper</code></a></li>
                <li><a href="#formoptionshelper"><code>FormOptionsHelper</code></a></li>
                <li><a href="#formtaghelper"><code>FormTagHelper</code></a></li>
                <li><a href="#javascripthelper"><code>JavaScriptHelper</code></a></li>
                <li><a href="#numberhelper"><code>NumberHelper</code></a></li>
                <li><a href="#sanitizehelper"><code>SanitizeHelper</code></a></li>
            </ul>
        </li>
        <li><a href="#%E8%A7%86%E5%9B%BE%E6%9C%AC%E5%9C%B0%E5%8C%96">视图本地化</a></li>
    </ol>

</div>




  <div class="info">
      <p>Set sources dynamically</p>
  </div>

  <script src="/node_modules/video.js/dist/video.js"></script>
  <script>    videojs.options.flash.swf = "/node_modules/video.js/dist/video-js.swf"</script>
  <script src="/node_modules/videojs-resolution-switcher/lib/videojs-resolution-switcher.js"></script>

  <% @micro_video_ids.each_index do  |i| %>
  <div class="video_info"><p>#第一弹# dji飞行的奥秘</p></div>
  <video id= <%= @micro_video_ids[i] %>  class="video-js vjs-default-skin"></video>

<!-- <video id='video' class="video-js vjs-default-skin"></video> -->
  <div class="info"><p>Set sources inside <code>&ltvideo&gt</code> tag</p></div>
  <script>
    //#alert(<%= @micro_video_ids[i].to_s %>);
      videojs(<%= @micro_video_ids[i] %>, {
            controls: true,
            muted: true,
            width: 500,
            //height: 500,
            poster: "/video_0_bgd.jpg",
            plugins: {
              videoJsResolutionSwitcher: {
                default: 'low', // Default resolution [{Number}, 'low', 'high'],
                dynamicLabel: true // Display dynamic labels or gear symbol
              }
            }
          },
          function () {
            var player = this;
            window.player = player
            player.updateSrc([
              {
                src: 'https://vjs.zencdn.net/v/oceans.mp4?sd',
                type: 'video/mp4',
                label: 'SD',
                res: 360
              },
              {
                src: 'https://vjs.zencdn.net/v/oceans.mp4?hd',
                type: 'video/mp4',
                label: 'HD',
                res: 720
              }
            ])

            player.on('resolutionchange', function () {
              console.info('Source changed to %s', player.src())
            })

          })
  </script>
  <% end %>
  <!-- <script>videojs('video_1').videoJsResolutionSwitcher()</script> -->

</body>
</html>
